.parent-container {
  width: 50%;
}

.card {
  width: 350px; 
  height: 300px; 
  margin: 5px; 
}

.my-container {
  padding: 50px;
}

.projects {
  color: #91987b;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  height: 10%;
  margin-top: 10px;
  margin-bottom: 35px;
}

.projectTitle {
  height: 10%;
  color: #6e735d;
  text-decoration: none;
  font-size: 20px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media Query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .parent-container {
    width: 100%;
  }

  .card {
    width: 100%; 
    height: auto; 
    margin: 10px 0; 
  }
}
