.parent-container {
    width: 50%;
  

  }

  .card {
    width: 350px; /* Adjust this to increase or decrease the size of the card */
    margin: 10px; /* Adjust this to reduce the margin between the cards */
  }
  
  
  .my-container {
    padding: 50px;
  }


.projects {
  color: #91987b;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  height: 10%;
  margin-top: 10px;
  margin-bottom: 35px;
}


/* p,
.description {
  color: #6e735d;
  text-decoration: none !important;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  max-height: 20px;
} */


.projectTitle {
  height: 10%;
  color: #6e735d;
  text-decoration: none;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

#header {
  background: url(/images/courses.jpeg) center center / cover no-repeat ;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}