.parent-container {
  width: 50%;

}

.card {
  width: 350px;
  height: 300px;
  margin: 5px;
}

.my-container {
  padding: 50px;
}

.projects {
  color: #91987b;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  height: 10%;
  margin-top: 10px;
  margin-bottom: 35px;
}


.projectTitle {
  height: 10%;
  color: #6e735d;
  text-decoration: none;
  font-size: 20px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .parent-container {
    width: 100%;
  }

  .card {
    width: 100%;
    margin: 5px 0;
  }

  .my-container {
    padding: 10px;
  }

  .projects {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .projectTitle {
    font-size: 18px;
  }
}